[submodule "ext/ShareX"]
	path = ext/ShareX
	url = https://github.com/ffMathy/ShareX.git
[submodule "ext/CustomUploaders"]
	path = ext/CustomUploaders
	url = https://github.com/ShareX/CustomUploaders.git
